<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      File Upload
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">File Upload</ion-title>
    </ion-toolbar>
  </ion-header>

  <form class="form" [formGroup]="formGroup">
    <ion-input label="Url" labelPlacement="floating" placeholder="https://localhost:8000/file-upload" formControlName="url"></ion-input>
    <ion-select label="File" placeholder="Choose File" formControlName="file">
      <ion-select-option value="3MB.png">3MB.png</ion-select-option>
      <ion-select-option value="5MB.png">5MB.png</ion-select-option>
      <ion-select-option value="11MB.pdf">11MB.pdf</ion-select-option>
      <ion-select-option value="20MB.pdf">20MB.pdf</ion-select-option>
    </ion-select>
    <ion-button expand="block" fill="outline" (click)="submitForm()">Send File</ion-button>
  </form>

  <div class="result">
    <div>Status:         {{result.status}}</div>
    <div>ElapsedTimeMs:  {{result.elapsedTimeMs | number: '0.2-2'}}ms</div>
    <div>Error:          {{error?.name}}</div>
    <div>ErrorMessage:   {{error?.message}}</div>
    <div>ErrorStack:     {{error?.stack}}</div>
  </div>

</ion-content>
